# Salesforce / SFDX / CCI
.cci
.sfdx
/src.orig
/src

# Python
*.pyc
__pycache__

# Robot Framework results
robot/sfdx-email-services/results/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings
IlluminatedCloud/

# Misc
.DS_Store
